@import "../../../styles/variables.scss";

.input-wrapper {
  color: $text-primary-color;
  font-size: 16px;
  text-align: start;

  .input-content {
    width: 100%;
    display: flex;

    label {
      margin-bottom: 10px;
    }

    .icon {
      padding: 12px;
      background-color: $primary-color;
      border-radius: 0px 8px 8px 0px;

      img {
        height: 20px;
      }
    }
    input {
      border: none;
      border-radius: 8px 0px 0px 8px;
      background: $gray-secondary-bg;
      padding: 12px 0 12px 20px;
      width: 100%;
    }
  }
}
