@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section {
    flex-grow: 1;
    background-color: $secondary-color;
  }

  @media screen and (max-width: 800px) {
    .main-section{
      display: none;
    }
  }

  .form-section {
    flex-grow: 0.3;
    padding: 0 35px;
  }

  h2 {
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  .buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .divider {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;

      font-size: 14px;
      color: $text-secondary-color;
      font-weight: 400;
      text-transform: uppercase;

      div {
        flex-grow: 1;
        height: 2px;
        background-color: $text-secondary-color;
      }
    }

    button {
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background: transparent;
      padding: 12px 24px;
      cursor: pointer;

      &:disabled{
        opacity: 0.5;
      }

      &.buttonPrimary {
        background-color: $primary-color;
        color: white;
        box-shadow: 1px 1px 4px black;
      }

      &.buttonSecondary {
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }
  }
}
