<app-default-login-layout
  title="Faça login em sua conta"
  primaryButtonText="Login"
  secondaryButtonText="Fazer Cadastro"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Digite seu Email"
      placeholder="exemploemail@gmail.com"
    >
      <img src="/assets/svg/email.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Digite a sua senha"
      placeholder="**********"
    >
      <img src="/assets/svg/password.svg" />
    </app-primary-input>
    <span>Recuperar senha</span>
  </form>
</app-default-login-layout>
